html {
  font-family: sans-serif;
  background:#ffc600;
}

p {
    border:1px solid black;
        }
input {
    border: 3px solid #999;
    border-radius: 5;
    }

input:invalid:after {
    position: absolute;
    content: '✖';
    padding-left: 110px;
    }

input:valid:after {
    position: absolute;
    content: '✓';
    padding-left: 110px;
    }
